body{
	font-family: 'Roboto', sans-serif;
	background-color: #F6F7FA;
}
.wrapper{
	display: flex;
	
}
.column-left{
	width: 20%;
	background-color: #0E1A35;

}
.column-left__content{
	
	
}
.column-left__content .svg-elem{
	width: 15px;
	height: 15px;
}
.logo{
	padding: 10px 0;
	padding-left: 5%;
	/*white-space: nowrap;*/

}
.logo img{
	position: relative;
}
.logo h1{
	font-weight: 700;
	font-size: 30px;
	color: #fff;
	display: inline-block;
	padding-left: 1%;
	position: absolute;
	
}
.home, .settings{
	padding-left: 12%;
	padding-top: 15px;
	padding-bottom: 15px;
}
.column-left a{
	text-decoration: none;
	color: #fff;
	font-weight: 400;
	padding-left: 2%;
	
}
.column-left a:hover{
	background-color: #122143;
}
.home:hover, .settings:hover, #active{
	background-color: #122143;
}
/*.blue-strip{
	width: 5px;
	height: 49px;
	background-color: #5483FE;
	position: absolute;	
	display: none;
}*/
.column-right{
	width: 80%;	
}
.header__menu{
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	padding-bottom: 15px;


}
.header__menu .menu__btn{
	width: 82px;
	height: 74px;
	background-color: #fff;
	padding: 25px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.menu__btn .strip{
	width: 100%;
	height: 5px;
	background-color: #000;
	cursor: pointer;
	
}
#add__todo{
	background-color: #5584FF;
	border-radius: 25px;
	font-weight: 700;
	color: #fff;
	height: 40px;
	width: 200px;
	cursor: pointer;
	margin-top: 25px;


}
.column-right .center-part{
	padding: 0 2.2%;
	padding-top: 30px;
	border-top: 2px solid #F1F2F6;
	padding-bottom: 50px; 
}
.center-part .to-do{
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	padding-bottom: 15px;

}
.to-do h3{
	padding: 0;
	margin: 0;
	font-weight: 700;
	font-size: 25px;
}
.to-do span{
	color: #98A3BB;
}
.to-do .lists img{
	width: 20px;
	height: 20px;
	padding-left: 20px;
}
.row{
	background-color: #fff;
	border: 2px solid #F1F2F6;
	margin-bottom: 10px;
	position: relative;
}
.row .row-content{
	padding: 25px 70px 0 25px;


}
.row .circle-L{
	width: 35px;
	height: 35px;
	border-radius: 100%;
	background-color: #5584FF;
	color: #fff;
	display: flex;
	float: left;
	

}
.circle-L span{
	margin: auto;
	font-weight: bold;
}
.row .row-content .text{
	padding-left: 50px;

}
.row .row-content .text p{
	font-weight: 400;
	color: grey;
	font-size: 15px;
	margin: 5px 0;

}
.row .row-content .text h5{
	padding: 0;
	margin: 0;	
}
.btn__change-task{
	float: right;
	padding-right: 2%;
	position: absolute;
	right: 0;
	top: 35px;
	cursor: pointer;
}
.btn__change-task div{
	width: 10px;
	height: 10px;
	border-radius: 100%;
	background-color: #8592AF;
	margin-bottom: 2.5px;
}
.btn__change-task__menu{
	float: right;
	position: absolute;
	right: 4%;
	top: 0;
	z-index: 10;
}
.rows-3{
	padding-top: 30px;
}

.rows-3 h3{
	padding: 0;
	margin: 0;
	padding-bottom: 15px;
	font-weight: 700;
	font-size: 25px;
}
.rows-3 h3 span{
	color: #98A3BB;
}
.row .circle-N{
	width: 35px;
	height: 35px;
	border-radius: 100%;
	background-color: #6CCAE8;
	color: #fff;
	display: flex;
	float: left;
	
}
.circle-N span{
	margin: auto;
	font-weight: bold;
}
.row .circle-L-purp{
	width: 35px;
	height: 35px;
	border-radius: 100%;
	background-color: #E355FF;
	color: #fff;
	display: flex;
	float: left;
	
}
.row .circle-L-purp span{
	margin: auto;
	font-weight: bold;
}

@media screen and (max-width: 800px){
	.logo h1{
		display: block;
	}
	.logo{
		padding-bottom: 55px;
	}
}
@media screen and (max-width: 480px){
	.column-left{
		display: none;
	}
	.column-right{
		width: 100%;
	}
}
